.navbar-style {
	background-color: #3d56b2 !important;
}

.green-highlight {
	color: olive;
	font-weight: lighter;
}

.pink-highlight {
	color: mistyrose;
	font-weight: bolder;
}

.hand-icon {
	cursor: pointer;
}
